<div class="container">
    <h1 class="text-center">Clock In/Out</h1>
    <div class="card-deck">
        <div class="card mb-3">
            <div class="card-body">
                <form #clockForm="ngForm" (ngChange)="clock(clockForm.value)">
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" id="company" placeholder="Company">
                    </div>
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="timein">Time In</label>
                        <input type="datetime-local" class="form-control" id="timein" placeholder="Time In">
                    </div>
                    <div class="form-group">
                        <label for="timeout">Time Out</label>
                        <input type="datetime-local" class="form-control" id="timeout" placeholder="Time Out">
                    </div>
                </form>
            </div>
        </div>
        <div class="card card-inverse mb-3">
            <div *ngIf="clockInOut">
                <img class="card-img" src="" alt="Card image cap">
            </div>
        </div>
    </div>
</div>