<div class="container">
    <div class="card border-primary mb-3">
        <div class="card-body">
            <p class="text-center">Please enter your Applicaition Key, to access this application.</p>
            <form #authForm="ngForm" (ngSubmit)="authorize(authForm.value)">
                <div class="form-group">
                    <input type="text" class="form-control" name="key" id="key" placeholder="Api Key" ngModel>
                </div>
                <button class="btn btn-lg btn-block btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>